body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}


header {
    background: #8B4513;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 55px;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content img {
    border: 2px solid black;
    border-radius: 255px;
    max-width: 100%;
    box-sizing: border-box;
}

.content li {
    list-style-type: none;
}
.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    border: 2px solid black;
    border-radius: 5px;
    max-width: calc(33.33% - 10px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .gallery img {
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .gallery img {
        max-width: 100%;
    }
}

footer {
    background: #8B4513;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}
